<!DOCTYPE html>
<html>
    <head>
        <title>Sue&ntilde;os Cremosos - Decoraciones</title>
        
        <link rel="icon" href="../logo.ico">
        <link rel="stylesheet" href="../css/styles.css">
    
    </head>
    
    <body>
        <header>
            <nav>
                <img src="../images/h_banner.png" id="h_banner_nav">
                <div id="header">
                    <ul id="nav_list">
                        <li><a href="../index.html">PASTELES</a></li>
                        <li class="active"><a>DECORACIONES</a></li>
                        <li><a href="../templates/pedidos.html">PEDIDOS</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <section id="sabores">
            <div class="sabores_tablas" id="tabla_masas">
                <h2>Técnicas de Decoración</h2>
                <table>
                    <tr>
                        <th>Técnica</th>
                        <th>Precio</th>
                        <th>Tiempo</th>
                    </tr>
                    <!--<tr>
                        <td>Solo Letras</td>
                        <td>$10</td>
                        <td>1 días</td>
                    </tr>-->
                    <tr>
                        <td>Geométrica</td>
                        <td>$20</td>
                        <td>2 días</td>
                    </tr>
                    <tr>
                        <td>3D</td>
                        <td>$15</td>
                        <td>5 días</td>
                    </tr>
                    <tr>
                        <td>Floral</td>
                        <td>$15</td>
                        <td>2 días</td>
                    </tr>
                </table>
            </div>
            <div class="sabores_tablas" id="tabla_glaseados">
                <h2>Adornos y Velas</h2>
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Disponibilidad</th>
                    </tr>
                    <tr>
                        <td>Velas de N&uacute;meros</td>
                        <td>$20</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Velas Sencillas</td>
                        <td>$15</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Muñeco Vengador</td>
                        <td>$15</td>
                        <td>25</td>
                    </tr>
                </table>
            </div>
        </section>
    </body>
</html>